/data/raw_audio_files/
/data/standardized_audio_files/
/DL_model/epochs/
DL_model/comparison/\[010469]_Piece_4C_Piece_FP_495008-496008ms_ch2_all_parameters_comparison.png
DL_model/comparison/\[010469]_Piece_4C_Piece_FP_495008-496008ms_ch2_loudness_zwtv_comparison.png
DL_model/comparison/\[010469]_Piece_4C_Piece_FP_495008-496008ms_ch2_roughness_dw_comparison.png
DL_model/comparison/\[010469]_Piece_4C_Piece_FP_495008-496008ms_ch2_sharpness_din_tv_comparison.png
DL_model/comparison/\[010469]_Piece_4C_Piece_FP_495008-496008ms_ch2_sii_ansi_comparison.png
DL_model/comparison/\[010469]_Piece_4C_Piece_FP_495008-496008ms_ch2_tnr_ecma_perseg_comparison.png
DL_model/comparison/epoch_0000_\[000004]_wav_102070_02994-03994ms_comparison.csv
DL_model/comparison/epoch_0000_\[000004]_wav_102070_02994-03994ms_loudness_zwtv.png
DL_model/comparison/epoch_0000_\[000004]_wav_102070_02994-03994ms_roughness_dw.png
DL_model/comparison/epoch_0000_\[000004]_wav_102070_02994-03994ms_sharpness_din_tv.png
DL_model/comparison/epoch_0000_\[000004]_wav_102070_02994-03994ms_sii_ansi.png
DL_model/comparison/epoch_0000_\[000004]_wav_102070_02994-03994ms_tnr_ecma_perseg.png
DL_model/comparison/epoch_0000_20260703_130748_\[000004]_wav_102070_02994-03994ms_runtime.csv
DL_model/comparison/epoch_0040_\[000004]_wav_102070_02994-03994ms_comparison.csv
DL_model/comparison/epoch_0040_\[000004]_wav_102070_02994-03994ms_loudness_zwtv.png
DL_model/comparison/epoch_0040_\[000004]_wav_102070_02994-03994ms_roughness_dw.png
DL_model/comparison/epoch_0040_\[000004]_wav_102070_02994-03994ms_sharpness_din_tv.png
DL_model/comparison/epoch_0040_\[000004]_wav_102070_02994-03994ms_sii_ansi.png
DL_model/comparison/epoch_0040_\[000004]_wav_102070_02994-03994ms_tnr_ecma_perseg.png
DL_model/comparison/epoch_0040_20260703_130756_\[000004]_wav_102070_02994-03994ms_runtime.csv
DL_model/comparison/epoch_0060_\[000004]_wav_102070_02994-03994ms_comparison.csv
DL_model/comparison/epoch_0060_\[000004]_wav_102070_02994-03994ms_loudness_zwtv.png
DL_model/comparison/epoch_0060_\[000004]_wav_102070_02994-03994ms_roughness_dw.png
DL_model/comparison/epoch_0060_\[000004]_wav_102070_02994-03994ms_sharpness_din_tv.png
DL_model/comparison/epoch_0060_\[000004]_wav_102070_02994-03994ms_sii_ansi.png
DL_model/comparison/epoch_0060_\[000004]_wav_102070_02994-03994ms_tnr_ecma_perseg.png
DL_model/comparison/epoch_0060_20260703_130757_\[000004]_wav_102070_02994-03994ms_runtime.csv
visualization_data/.DS_Store
visualization_data/\[000001]_wav_102070_00000-01000ms.csv
visualization_data/\[000002]_wav_102070_00998-01998ms.csv
visualization_data/\[000003]_wav_102070_01996-02996ms.csv
visualization_data/\[000004]_wav_102070_02994-03994ms.csv
visualization_data/\[000005]_wav_102070_03992-04992ms.csv
visualization_data/outputs/combined_mosquito_parameters.csv
visualization_data/outputs/interactive_timeseries.html
visualization_data/outputs/missing_values_by_parameter.png
visualization_data/outputs/normalized_parameter_heatmap.png
visualization_data/outputs/parameter_histograms.png
visualization_data/outputs/segment_frame_heatmap_loudness_zwtv.png
visualization_data/outputs/segment_frame_heatmap_roughness_dw.png
visualization_data/outputs/segment_frame_heatmap_sharpness_din_tv.png
visualization_data/outputs/segment_frame_heatmap_sii_ansi.png
visualization_data/outputs/segment_frame_heatmap_tnr_ecma_perseg.png
visualization_data/outputs/segment_mean_timeseries.png
visualization_data/outputs/segment_means_by_parameter.png
visualization_data/outputs/segment_summary.csv
visualization_data/outputs/timeseries_all_parameters.png
visualization_data/outputs/timeseries_segments_overlay_local_time.png
DL_model/__pycache__/__init__.cpython-313.pyc
DL_model/__pycache__/__init__.cpython-314.pyc
DL_model/__pycache__/compute_loss.cpython-313.pyc
DL_model/__pycache__/compute_loss.cpython-314.pyc
DL_model/__pycache__/DL_model.cpython-313.pyc
DL_model/__pycache__/DL_model.cpython-314.pyc
DL_model/__pycache__/params.cpython-313.pyc
DL_model/__pycache__/params.cpython-314.pyc
DL_model/__pycache__/train_model.cpython-313.pyc
DL_model/__pycache__/train_model.cpython-314.pyc
visualize_training/__pycache__/__init__.cpython-313.pyc
visualize_training/__pycache__/__init__.cpython-314.pyc
visualize_training/__pycache__/visualize_training.cpython-313.pyc
visualize_training/__pycache__/visualize_training.cpython-314.pyc
data_preprocessing/__pycache__/calculate_reference_values.cpython-313.pyc
data_preprocessing/__pycache__/calculate_reference_values.cpython-314.pyc
data_preprocessing/__pycache__/convert_to_wav.cpython-313.pyc
data_preprocessing/__pycache__/convert_to_wav.cpython-314.pyc
.vscode/settings.json
data/.DS_Store
DL_model/.DS_Store
.DS_Store

# Local / generated datasets
data/music_dataset_jamendo/
data/music_dataset_jamendo_split/
data/test_full_files/
data/converted_music_dataset_jamendo/
/data/experiments/
/data/visualizations/

# Generated model outputs
DL_model/comparison/
DL_model/epochs/

# Large model/data files
*.pt
*.pth

# Environments
.venv/
venv/
venv-akt/

# Python bytecode
__pycache__/
*.py[cod]

# IDE / OS
.idea/
.DS_Store

*.png
*.jpg
*.jpeg
*.pdf
logs/
DL_model/comparison/
DL_model/epochs/
.idea/tree -L 2
data/\[000005]_music_dataset_jamendo_Acceptance_-_Evgenia_Kostitsyna_119980-179980ms_ch1.csv
data/test/Bradley_Peck_-_living_like_no_tomorrow.mp3
data/processed/\[000002]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch2.wav
data/processed/\[000003]_test_Bradley_Peck_-_living_like_no_tomorrow_59990-119990ms_ch1.wav
data/processed/\[000004]_test_Bradley_Peck_-_living_like_no_tomorrow_59990-119990ms_ch2.wav
data/processed/\[000005]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1.wav
data/processed/1file/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_00000-01000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_01000-02000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_02000-03000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_03000-04000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_04000-05000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_05000-06000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_06000-07000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_07000-08000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_08000-09000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_09000-10000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_10000-11000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_11000-12000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_12000-13000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_13000-14000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_14000-15000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_15000-16000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_16000-17000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_17000-18000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_18000-19000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_19000-20000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_20000-21000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_21000-22000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_22000-23000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_23000-24000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_24000-25000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_25000-26000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_26000-27000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_27000-28000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_28000-29000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_29000-30000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_30000-31000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_31000-32000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_32000-33000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_33000-34000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_34000-35000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_35000-36000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_36000-37000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_37000-38000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_38000-39000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_39000-40000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_40000-41000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_41000-42000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_42000-43000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_43000-44000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_44000-45000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_45000-46000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_46000-47000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_47000-48000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_48000-49000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_49000-50000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_50000-51000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_51000-52000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_52000-53000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_53000-54000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_54000-55000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_55000-56000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_56000-57000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_57000-58000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_58000-59000ms.wav
data/processed/1s_training/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1__seg_59000-60000ms.wav
data/processed/1s_training/segment_mapping.csv
data/labels/test_1file/\[000001]_test_Bradley_Peck_-_living_like_no_tomorrow_00000-60000ms_ch1.csv
